<div class="container">
  <h2>Our latest Collection</h2>
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder = "Search...">
  </mat-form-field>

  <mat-form-field class = "sort-dropdown">
    <mat-select (selectionChange)="sortProduct($event.value)" placeholder = "Sort">
      <mat-option value="priceLowHigh">Price Low to High</mat-option>
      <mat-option value="priceHighLow">Price High to Low</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="product-grid">
    <div *ngFor="let prod of filteredProducts">
      <mat-card class="product-card" (click) = "addToCart(prod)">
        <img
          mat-card-image
          src="assets/images/{{prod.image_url}}"
          alt="Photo of {{prod.name}}"
        >

        <mat-card-content>
          <mat-card-title>{{prod.name}}</mat-card-title>
          <mat-card-subtitle>${{prod.price}} </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>