<div class = "container">
    <h1>Your cart</h1>
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let prod of cartProducts">
                <span matListItemTitle>{{prod.name}}</span>
                <span matListItemLine>{{prod.price | currency:'USD'}}</span>
            </mat-list-item>
        </mat-list>

        <mat-list>
            <mat-list-item >
                <span class = "total" matListItemTitle>Total (USD)</span>
                <span class = "total" matListItemLine>{{totatlPrice | currency:'USD'}}</span>
            </mat-list-item>
        </mat-list>

        <mat-list class = "text-right">
            <button mat-flat-button (click)="clearCart()">Clear</button>
        </mat-list>
        
        <mat-list class = "text-right">
            <button mat-raised-button color="accent" (click) = "checkout()">Checkout</button>
        </mat-list>

    </mat-card>

</div>